
CH13 Simple Classes/Classes/.vs/Classes/FileContentIndex/307bc943-9da6-4bde-91d0-45ee1c328bb3.vsidx
CH13 Simple Classes/Classes/.vs/Classes/FileContentIndex/c3081427-4f58-4b0f-a271-5d66d4779c91.vsidx
CH13 Simple Classes/Classes/.vs/Classes/FileContentIndex/read.lock
CH13 Simple Classes/Classes/.vs/Classes/v17/.suo
CH13 Simple Classes/Classes/.vs/Classes/v17/Browse.VC.db
CH13 Simple Classes/Classes/.vs/Classes/v17/Browse.VC.db-shm
CH13 Simple Classes/Classes/.vs/Classes/v17/Browse.VC.db-wal
CH13 Simple Classes/Classes/.vs/Classes/v17/Browse.VC.opendb
CH13 Simple Classes/Classes/.vs/Classes/v17/ipch/AutoPCH/78d8c33155a96faf/CLASSES.ipch
CH13 Simple Classes/Classes/Classes.sln
CH13 Simple Classes/Classes/Classes.vcxproj
CH13 Simple Classes/Classes/Classes.vcxproj.filters
CH13 Simple Classes/Classes/Classes.vcxproj.user
CH13 Simple Classes/Classes/x64/Debug/Classes.exe
CH13 Simple Classes/Classes/x64/Debug/Classes.exe.recipe
CH13 Simple Classes/Classes/x64/Debug/Classes.ilk
CH13 Simple Classes/Classes/x64/Debug/Classes.log
CH13 Simple Classes/Classes/x64/Debug/Classes.obj
CH13 Simple Classes/Classes/x64/Debug/Classes.pdb
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/CL.command.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/CL.read.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/CL.write.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/Classes.lastbuildstate
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/link.command.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/link.read.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.tlog/link.write.1.tlog
CH13 Simple Classes/Classes/x64/Debug/Classes.vcxproj.FileListAbsolute.txt
CH13 Simple Classes/Classes/x64/Debug/vc143.idb
CH13 Simple Classes/Classes/x64/Debug/vc143.pdb
CH13 Simple Classes/Classes/Classes.cpp
